[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs = "==1.6.0"
mkdocs-material = "==9.5.25"
mike = "==2.1.1"
mkdocs-git-authors-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[requires]
python_version = "3.10"
